.deps
isolation_output
results/*
regression.diffs
regression.out
*.o
*.so
*.pyc
*.gcda
*.gcno
*.gcov
*.log
tags
cscope*
Dockerfile
testgres
deserialize.c
serialize.c

sr_plan--1.1.sql
sr_plan--1.2.sql
pycparser
/Mako*
/site-packages
/setuptools*
